Repository d4xyjen/jedi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, common, authorization, world, zone, game, datastore

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

fix: initialize byte arrays when deserializing protocols (#8)
  src/Authorization/Authorization.EntryPoint/Controllers/AuthorizationController.cs
  src/Common/Common.Api/BinarySerializer.cs
  src/Common/Common.Api/Sessions/MessageQueue.cs
  src/Common/Common.Contracts/Protocols/User/PROTO_USER_CLIENT_RIGHTVERSION_CHECK_ACK.cs
  src/Common/Common.Contracts/Protocols/User/PROTO_USER_US_LOGIN_REQ.cs
  src/Common/Common.Contracts/Protocols/User/PROTO_USER_XTRAP_REQ.cs
Labels: common, authorization

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

migrate session configuration (#12)
  src/Authorization/Authorization.EntryPoint/Startup.cs
  src/Common/Common.Api/Clients/ServiceClient.cs
  src/Common/Common.Api/Clients/ServiceClientFactory.cs
  src/Common/Common.Api/Messaging/ProtocolHandlerFactory.cs
  src/Common/Common.Api/Sessions/Session.cs
  src/Common/Common.Contracts/Protocols/Dto.cs
  src/Common/Common.Contracts/Protocols/User/PROTO_USER_PASSWORD_CHECK_ACK.cs
  src/Common/Common.Contracts/Protocols/User/PROTO_USER_PASSWORD_CHECK_REQ.cs
  src/Common/Common.Contracts/ServiceConfiguration.cs
  src/Common/Common.S2SCommunication/DatastoreClient.cs
  src/Common/Common.Startup/Constants/ConfigurationConstants.cs
  src/Common/Common.Startup/EntryPoint.cs
  src/Datastore/Datastore.Contracts/DatastoreConfiguration.cs
  src/Datastore/Datastore.Contracts/SqlDatastoreConfiguration.cs
  src/Datastore/Datastore.EntryPoint/Controllers/UserController.cs
  src/Datastore/Datastore.EntryPoint/Startup.cs
  src/Datastore/Datastore.Services/Datastore.Services.csproj
  src/Datastore/Datastore.Services/Providers/IDatastoreProvider.cs
  src/Datastore/Datastore.Services/Providers/SqlDatastore.cs
  src/Game/Game.EntryPoint/Startup.cs
  src/Jedi.sln
  src/World/World.EntryPoint/Startup.cs
  src/Zone/Zone.EntryPoint/Startup.cs
Labels: common, authorization, world, zone, game, datastore

.github/labeler.yml:

repo:
  - any: ['*', '!src/**/*']

common:
  - any: ['src/Common/**/*']
 
authorization:
  - any: ['src/Authorization/**/*']

world:
  - any: ['src/World/**/*']

zone:
  - any: ['src/Zone/**/*']

game:
  - any: ['src/Game/**/*']

datastore:
  - any: ['src/Datastore/**/*']
