Repository d4xyjen/jedi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, authorization, backup, common, game, gateway, persistence, region, sienna

Delete commitlint.yml
  .github/workflows/commitlint.yml
Labels: none

Test workflow setup (#1)
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Update build.yml
  .github/workflows/build.yml
Labels: none

Remove logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Update build.yml
  .github/workflows/build.yml
Labels: none

Add logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Update build.yml
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Create release.yml
  .github/workflows/release.yml
Labels: none

Remove logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Update release.yml
  .github/workflows/release.yml
Labels: none

Add logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Remove logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Update release.yml
  .github/workflows/release.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update and rename release.yml to pre-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: none

Update pre-release.yml
  .github/workflows/pre-release.yml
Labels: none

Update pre-release.yml
  .github/workflows/pre-release.yml
Labels: none

Update pre-release.yml
  .github/workflows/pre-release.yml
Labels: none

Update pre-release.yml
  .github/workflows/pre-release.yml
Labels: none

Update pre-release.yml
  .github/workflows/pre-release.yml
Labels: none

Update pre-release.yml
  .github/workflows/pre-release.yml
Labels: none

Update and rename pre-release.yml to dev-build.yml
  .github/workflows/dev-build.yml
Labels: none

Create release.yml
  .github/workflows/release.yml
Labels: none

Update dev-build.yml
  .github/workflows/dev-build.yml
Labels: none

Delete release.yml
  .github/workflows/release.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Update and rename dev-build.yml to release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

fix: Add logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

fix: remove logging
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Create commitlint.yml
  .github/workflows/commitlint.yml
Labels: none

feat: add logging (#2)
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

fix: remove logging (#3)
  src/Sienna/Sienna.Service/Program.cs
Labels: sienna

Update release.yml
  .github/workflows/release.yml
Labels: none

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

.github/labeler.yml:

repo:
  - any: ['*', '!src/**/*']

authorization:
  - any: ['src/Authentication/**/*']
  
backup:
  - any: ['src/Backup/**/*']

common:
  - any: ['src/Common/**/*']

game:
  - any: ['src/Game/**/*']

gateway:
  - any: ['src/Gateway/**/*']

persistence:
  - any: ['src/Persistence/**/*']

region:
  - any: ['src/Region/**/*']

sienna:
  - any: ['src/Sienna/**/*']
